body {
    background-color: #5b5b39;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: rgb(225, 219, 219);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.container {
    margin-left: 20px;
}
.form-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    
}
footer {
    text-align: center;
    margin-top: 20px;
    color: rgb(225, 219, 219);
    background-color: #333;
    padding: 20px;
    height: 20px;
}
